### Creating dataframe from our CSV file

In [2]:
import pandas as pd
df = pd.read_csv("D:/Загрузки/crop_yield/crop_yield.csv")
df

,Region,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,West,Sandy,Cotton,897.077239,27.676966,False,True,Cloudy,122,6.555816
1,South,Clay,Rice,992.673282,18.026142,True,True,Rainy,140,8.527341
2,North,Loam,Barley,147.998025,29.794042,False,False,Sunny,106,1.127443
3,North,Sandy,Soybean,986.866331,16.644190,False,True,Rainy,146,6.517573
4,South,Silt,Wheat,730.379174,31.620687,True,True,Cloudy,110,7.248251
...,...,...,...,...,...,...,...,...,...,...
999995,West,Silt,Rice,302.805345,27.987428,False,False,Sunny,76,1.347586
999996,South,Chalky,Barley,932.991383,39.661039,True,False,Rainy,93,7.311594
999997,North,Peaty,Cotton,867.362046,24.370042,True,False,Cloudy,108,5.763182
999998,West,Silt,Wheat,492.812857,33.045505,False,False,Sunny,102,2.070159
999999,West,Sandy,Maize,180.936180,27.298847,True,False,Sunny,76,2.937243

### Dropping duplicates in the table

In [5]:
df2 = df.drop_duplicates()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Region                  1000000 non-null  object
 1   Soil_Type               1000000 non-null  object
 2   Crop                    1000000 non-null  object
 3   Rainfall_mm             1000000 non-null  float64
 4   Temperature_Celsius     1000000 non-null  float64
 5   Fertilizer_Used         1000000 non-null  bool
 6   Irrigation_Used         1000000 non-null  bool
 7   Weather_Condition       1000000 non-null  object
 8   Days_to_Harvest         1000000 non-null  int64
 9   Yield_tons_per_hectare  1000000 non-null  float64
dtypes: bool(2), float64(3), int64(1), object(4)
memory usage: 62.9+ MB

### Checking what values we have in dataset

In [3]:
for col in df.columns:
  print(col,df[col].unique())

Region ['West' 'South' 'North' 'East']
Soil_Type ['Sandy' 'Clay' 'Loam' 'Silt' 'Peaty' 'Chalky']
Crop ['Cotton' 'Rice' 'Barley' 'Soybean' 'Wheat' 'Maize']
Rainfall_mm [897.07723911 992.67328162 147.99802529 ... 867.36204622 492.81285654
 180.93618014]
Temperature_Celsius [27.67696637 18.02614225 29.79404242 ... 24.37004189 33.04550506
 27.29884735]
Fertilizer_Used [False  True]
Irrigation_Used [ True False]
Weather_Condition ['Cloudy' 'Rainy' 'Sunny']
Days_to_Harvest [122 140 106 146 110  74  90  61 127  73 141 136 134  77 115  68  95  93
  76  99  71 100 121 133 142 123  67 130  75  83  94  63  86  98  66 139
 145 148 132 109 124  82  64  96 131  92 126 118  72  70 138  80 103  60
 108 137 111 147 128  89 125  62  69  88 102 149  78 114 116  65  87 107
 119  84 105 144  97 113 143 117  79 101 135  91 120  85  81 104 112 129]
Yield_tons_per_hectare [6.55581626 8.52734091 1.12744334 ... 5.76318192 2.07015871 2.93724319]

### Function to encode categorical values

In [ ]:
from sklearn.preprocessing import LabelEncoder
def encode_categorical(df, cols):
    for col in cols :
        le = LabelEncoder()
        
        new_col = col+"_num"
        df[new_col] = le.fit_transform(df[col])

    return df

cols = ['Region', 'Soil_Type', 'Weather_Condition']
df = encode_categorical(df,cols)

### Checking content of dataframe after each transfromation

In [10]:
df

,Region,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare,Region_num,Soil_Type_num,Weather_Condition_num,Yield_kg_per_sqm,Yield_tons_per_hectare_scaled,Rainfall_mm_scaled,Yield_kg_per_sqm_scaled
0,West,Sandy,Cotton,897.08,27.68,False,True,Cloudy,122,6.56,3,4,0,0.66,0.693969,0.885644,0.693694
1,South,Clay,Rice,992.67,18.03,True,True,Rainy,140,8.53,2,1,1,0.85,0.871287,0.991856,0.864865
2,North,Loam,Barley,148.00,29.79,False,False,Sunny,106,1.13,1,2,2,0.11,0.205221,0.053333,0.198198
3,North,Sandy,Soybean,986.87,16.64,False,True,Rainy,146,6.52,1,4,1,0.65,0.690369,0.985411,0.684685
4,South,Silt,Wheat,730.38,31.62,True,True,Cloudy,110,7.25,2,5,0,0.72,0.756076,0.700422,0.747748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,West,Silt,Rice,302.81,27.99,False,False,Sunny,76,1.35,3,5,2,0.13,0.225023,0.225344,0.216216
999996,South,Chalky,Barley,932.99,39.66,True,False,Rainy,93,7.31,2,0,1,0.73,0.761476,0.925544,0.756757
999997,North,Peaty,Cotton,867.36,24.37,True,False,Cloudy,108,5.76,1,3,0,0.58,0.621962,0.852622,0.621622
999998,West,Silt,Wheat,492.81,33.05,False,False,Sunny,102,2.07,3,5,2,0.21,0.289829,0.436456,0.288288
999999,West,Sandy,Maize,180.94,27.30,True,False,Sunny,76,2.94,3,4,2,0.29,0.368137,0.089933,0.360360

###  Adding new columns that can be useful

In [5]:
df['Yield_kg_per_sqm'] = df['Yield_tons_per_hectare'] * 1000 / 10000

### Reformatting all float data to two decimal places

In [ ]:
df = df.map(lambda x: f"{x:.2f}" if isinstance(x, float) else x)

### Method for Scaling columns you want

In [ ]:
from sklearn.preprocessing import MinMaxScaler

def scale_columns(df, columns):
    scaler = MinMaxScaler()

    scaled_data = scaler.fit_transform(df[columns])

    scaled_column_names = [f"{col}_scaled" for col in columns]

    df[scaled_column_names] = scaled_data

    return df

df = scale_columns(df, ['Yield_tons_per_hectare', 'Rainfall_mm', 'Yield_kg_per_sqm'])

### Loading dataframe to Postgresql Database

In [ ]:
from sqlalchemy import create_engine

DATABASE_TYPE = "postgresql"
DBAPI = "psycopg2"
USER = "Sultan"
PASSWORD = "postgres"
HOST = "localhost"
PORT = "5432"
DATABASE = "freedom"

engine = create_engine(f"{DATABASE_TYPE}+{DBAPI}://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}")

df.to_sql('crop_yield', engine, if_exists='replace', index=False)

1000

## Q1
### Average Yield by Region and Soil Type

In [14]:
query1 = """
SELECT 
    "Region",
    "Soil_Type",
    AVG("Yield_tons_per_hectare"::numeric) AS avg_yield_tons_per_hectare
FROM 
    crop_yield
GROUP BY 
    "Region", "Soil_Type"
ORDER BY 
    avg_yield_tons_per_hectare DESC;
"""

df_avg_yield = pd.read_sql(query1, engine)
print("Average Yield by Region and Soil Type:")
print(df_avg_yield)

Average Yield by Region and Soil Type:
   Region Soil_Type  avg_yield_tons_per_hectare
0   North      Loam                    4.663502
1   North     Peaty                    4.662951
2   South     Peaty                    4.660148
3    West    Chalky                    4.659375
4    West     Sandy                    4.657822
5   North     Sandy                    4.657818
6   South      Loam                    4.654844
7    West      Clay                    4.654603
8   South    Chalky                    4.652649
9   South      Silt                    4.651536
10  North    Chalky                    4.651526
11   East      Silt                    4.649687
12   East      Clay                    4.647949
13   East    Chalky                    4.647947
14   East     Peaty                    4.647285
15   West      Silt                    4.646488
16  North      Silt                    4.645977
17   West      Loam                    4.643732
18  North      Clay                    4.642990
19   East      Loam                    4.642065
20  South     Sandy                    4.639913
21   East     Sandy                    4.638742
22  South      Clay                    4.633981
23   West     Peaty                    4.633979

## Q2
### High-Yield Crops in Rainy Conditions

In [ ]:
query2 = """
SELECT 
    "Crop",
    "Region",
    "Yield_tons_per_hectare"::numeric,
    "Weather_Condition"
FROM 
    crop_yield
WHERE 
    "Weather_Condition" = 'Rainy' 
    AND "Yield_tons_per_hectare"::numeric > 7
ORDER BY 
    "Yield_tons_per_hectare" DESC;
"""

df_high_yield_rainy = pd.read_sql(query2, engine)
print("High-Yield Crops in Rainy Conditions:")
print(df_high_yield_rainy)

High-Yield Crops in Rainy Conditions:
         Crop Region  Yield_tons_per_hectare Weather_Condition
0        Rice  South                    9.96             Rainy
1       Maize  South                    9.83             Rainy
2       Wheat   East                    9.80             Rainy
3        Rice   East                    9.72             Rainy
4       Wheat   West                    9.69             Rainy
...       ...    ...                     ...               ...
29294   Wheat  South                    7.01             Rainy
29295  Barley  North                    7.01             Rainy
29296  Cotton  North                    7.01             Rainy
29297   Maize  South                    7.01             Rainy
29298   Maize   West                    7.01             Rainy

[29299 rows x 4 columns]

## Q3
### Scaled vs Actual Rainfall for Crops in South Region

In [ ]:
query3 = """
SELECT 
    "Region",
    "Crop",
    "Rainfall_mm"::numeric,
    "Rainfall_mm_scaled"::numeric
FROM 
    crop_yield
WHERE 
    "Region" = 'South'
LIMIT 10;
"""

df_scaled_rainfall = pd.read_sql(query3, engine)
print("Scaled vs Actual Rainfall for Crops in South Region:")
print(df_scaled_rainfall)

Scaled vs Actual Rainfall for Crops in South Region:
  Region     Crop  Rainfall_mm  Rainfall_mm_scaled
0  South     Rice       992.67            0.991856
1  South    Wheat       730.38            0.700422
2  South  Soybean       797.47            0.774967
3  South     Rice       441.13            0.379033
4  South   Cotton       607.15            0.563500
5  South    Maize       888.21            0.875789
6  South    Maize       259.42            0.177133
7  South    Wheat       786.77            0.763078
8  South     Rice       476.68            0.418533
9  South   Cotton       492.56            0.436178

## Q4
### All columns of crop_yield table

In [21]:
query4 = """
SELECT 
    * 
FROM crop_yield
LIMIT 10;
"""
df_all = pd.read_sql(query4, engine)
print("All columns of crop_yield table")
df_all

All columns of crop_yield table

,Region,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare,Region_num,Soil_Type_num,Weather_Condition_num,Yield_kg_per_sqm,Yield_tons_per_hectare_scaled,Rainfall_mm_scaled,Yield_kg_per_sqm_scaled
0,West,Sandy,Cotton,897.08,27.68,False,True,Cloudy,122,6.56,3,4,0,0.66,0.693969,0.885644,0.693694
1,South,Clay,Rice,992.67,18.03,True,True,Rainy,140,8.53,2,1,1,0.85,0.871287,0.991856,0.864865
2,North,Loam,Barley,148.00,29.79,False,False,Sunny,106,1.13,1,2,2,0.11,0.205221,0.053333,0.198198
3,North,Sandy,Soybean,986.87,16.64,False,True,Rainy,146,6.52,1,4,1,0.65,0.690369,0.985411,0.684685
4,South,Silt,Wheat,730.38,31.62,True,True,Cloudy,110,7.25,2,5,0,0.72,0.756076,0.700422,0.747748
5,South,Silt,Soybean,797.47,37.70,False,True,Rainy,74,5.90,2,5,1,0.59,0.634563,0.774967,0.630631
6,West,Clay,Wheat,357.90,31.59,False,False,Rainy,90,2.65,3,1,1,0.27,0.342034,0.286556,0.342342
7,South,Sandy,Rice,441.13,30.89,True,True,Sunny,61,5.83,2,4,2,0.58,0.628263,0.379033,0.621622
8,North,Silt,Wheat,181.59,26.75,True,False,Sunny,127,2.94,1,5,2,0.29,0.368137,0.090656,0.360360
9,West,Sandy,Wheat,395.05,17.65,False,True,Rainy,140,3.71,3,4,1,0.37,0.437444,0.327833,0.432432

## Resulting Table description

| Original Column                    | Description                                                                                           |
|---------------------------|-------------------------------------------------------------------------------------------------------|
| **Region**                | The geographical area where the crop is grown (e.g., North, South, West).                             |
| **Soil_Type**             | Type of soil in the region where the crop is cultivated (e.g., Sandy, Clay, Loam, Silt). This is important for understanding the soil's impact on crop yield. |
| **Crop**                  | Type of crop being cultivated (e.g., Cotton, Rice, Barley, Soybean, Wheat). Each crop has different growth requirements and yields. |
| **Rainfall_mm**           | The amount of rainfall in millimeters during the crop-growing season. Rainfall influences crop growth and water availability. |
| **Temperature_Celsius**   | The average temperature in degrees Celsius during the crop-growing period. Temperature affects the rate of crop growth and potential yield. |
| **Fertilizer_Used**       | Indicates whether fertilizer was applied (`True` for yes, `False` for no). Fertilizer can improve soil nutrients and impact yield. |
| **Irrigation_Used**       | Indicates whether irrigation was used (`True` for yes, `False` for no). Irrigation provides water to crops and can impact yield, especially in low-rainfall areas. |
| **Weather_Condition**     | General weather conditions during the crop-growing season (e.g., Cloudy, Rainy, Sunny). This can impact sunlight availability and overall crop health. |
| **Days_to_Harvest**       | The number of days required for the crop to reach harvest maturity. Different crops and conditions will have varying growth times. |

| New Column                    | Description                                                                                           |
|---------------------------|-------------------------------------------------------------------------------------------------------|
| **Yield_tons_per_hectare** | Crop yield measured in tons per hectare. This metric represents the amount of crop produced per unit area, useful for comparing crop productivity. |
| **Region_num**            | Numeric encoding of the `Region` column, useful for machine learning models that require numeric inputs. |
| **Soil_Type_num**         | Numeric encoding of the `Soil_Type` column, representing each soil type as a unique number for analysis purposes. |
| **Weather_Condition_num** | Numeric encoding of the `Weather_Condition` column, converting weather types into numerical categories. |
| **Yield_kg_per_sqm**      | Yield measured in kilograms per square meter, which is another way to express crop productivity at a smaller unit scale. |
| **Yield_tons_per_hectare_scaled** | Scaled version of `Yield_tons_per_hectare`, normalized to a range (likely 0-1) to make data comparable across different columns. |
| **Rainfall_mm_scaled**    | Scaled version of `Rainfall_mm`, normalized for easier analysis and to remove the effects of units and magnitude differences. |
| **Yield_kg_per_sqm_scaled** | Scaled version of `Yield_kg_per_sqm`, making it comparable with other scaled features. |

This dataset provides comprehensive information on crop productivity influenced by environmental and agronomic factors, which could be useful in predictive modeling or agricultural studies.

## ETL Process Description

### Extract 
  - We downloaded CSV file from [Kaggle](https://www.kaggle.com/datasets/samuelotiattakorah/agriculture-crop-yield)
### Transform
  - Using `Pandas` library we created `Dataframe` out of our CSV file.
  - Checked values of our dataset, gaining information what data is `categorical` and which is `numerical` and what possible changes we can make further.
  - Created a `method` to encode `categorical` columns we choose to `numerical` and add them as a new column, which will be useful for future `ML model training`.
  - Added new Columns with **different measure units**, two make it more universal.
  - Reformatted float values we have to **2 decimal** places to make it easier to analyze.
  - Created a `method` to `Scale` our chosen columns two the same range using `MinMaxScaler`, and add them as new columns for future `ML model training`.
  - Applied all created methods to actually transform our data.
### Load 
  - Connected to our `Postgres Database` using `Sqlalchemy` library
  - Loaded our table to connected DB using Pandas `DataFrame.to_sql` function.

In [31]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\python312\lib\site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\python312\lib\site-packages (from sqlalchemy) (3.1.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~ (C:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Python312\Lib\site-packages)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip