In [ ]:
pip install psycopg2-binary

In [ ]:
pip install sqlalchemy

In [ ]:
import psycopg2
import pandas as pd
# Connect to your PostgreSQL database
conn = psycopg2.connect(
    host="localhost",
    database="test_database",
    user="postgres",
    password="ailabsdu"
)

# Create a cursor object
cur = conn.cursor()

# Execute a simple SQL query
cur.execute("CREATE TABLE management (id SERIAL PRIMARY KEY,name VARCHAR(100),department VARCHAR(50),salary NUMERIC);")
conn.commit()
cur.execute("CREATE TABLE employees (id SERIAL PRIMARY KEY,name VARCHAR(100),department VARCHAR(50),salary NUMERIC);")
conn.commit()

In [ ]:
cur.execute("INSERT INTO employees (name, department, salary) VALUES ('Alice', 'Engineering', 70000), ('Bob', 'Sales', 50000);")
conn.commit()

In [ ]:
from sqlalchemy import create_engine

#create_engine(f'postgresql://{username}:{password}@{hostname}:{port}/{database}')
engine = create_engine('postgresql://postgres:ailabsdu@localhost:5432/test_database')
data = {
    'region': ['North', 'North', 'South', 'South'],
    'product': ['Apples', 'Oranges', 'Apples', 'Oranges'],
    'sales': [100, 80, 70, 120]
}
sales = pd.DataFrame(data)
print(sales)
try:
    sales.to_sql('sales_test',engine, if_exists="append")
except Exception as e:
    print(e)

In [ ]:
cur.execute("SELECT * FROM employees")
rows = cur.fetchall()

# Print out the data
for row in rows:
    print(row)

In [ ]:
df = pd.read_sql_query("SELECT * FROM employees",engine)
print(df.head())

In [ ]:
import numpy as np

# Original and additional data for Orders
data = {
    'region': ['North', 'North', 'South', 'South', 'East', 'North', 'West', 'North', 'East', 'East',
               'North', 'West', 'North', 'East', 'North', 'South', 'East', 'West', 'North', 'East',
               'West', 'South'],
    'product': ['Apples', 'Oranges', 'Apples', 'Oranges', 'Banana', 'Oranges', 'Apples', 'Oranges',
                'Banana', 'Oranges', 'Apples', 'Oranges', 'Banana', 'Oranges', 'Pineapple', 'Mango',
                'Grapes', 'Peach', 'Strawberry', 'Grapes', 'Pineapple', 'Mango'],
    'sales': [100, 80, 70, 120, 80, 70, 120, 80, 70, 120, 80, 70, 120, 190, 150, 200, 180, 140,
              160, 190, 130, 210],
    'year': [2019, 2020, 2019, 2020, 2019, 2020, 2019, 2020, 2019, 2020, 2019, 2020, 2019, 2020,
             2020, 2019, 2020, 2019, 2020, 2019, 2020, 2019],
    'quarter': [1, 4, 2, 3, 1, 2, 3, 4, 2, 3, 2, 2, 3, 4, 1, 2, 3, 4, 2, 1, 4, 3]
}

# Creating Orders DataFrame
orders_df = pd.DataFrame(data)

# Creating a Customers dataset with IDs and names
customers_data = {
    'customer_id': range(1, 15),  # 14 unique customers
    'customer_name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Isaac', 'Jack',
                      'Kathy', 'Liam', 'Mona', 'Nina'],
    'region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'East',
               'South', 'North', 'West', 'East']
}
customers_df = pd.DataFrame(customers_data)

# Adding Customer_ID and Amount to Orders
orders_df['customer_id'] = np.random.choice(customers_df['customer_id'], size=len(orders_df))
orders_df['amount'] = np.random.randint(50, 300, size=len(orders_df))
try:
    orders_df.to_sql('orders',engine, if_exists="append")
    customers_df.to_sql('customers',engine, if_exists="append")
except Exception as e:
    print(e)

In [ ]:
cur.execute("SELECT * FROM orders")
rows = cur.fetchall()

# Print out the data
for row in rows:
    print(row)

In [ ]:
df = pd.read_sql_query("SELECT * FROM customers",engine)
print(df.head())

In [ ]:
df = pd.read_sql_query("SELECT customer_name FROM customers WHERE customer_id IN (SELECT customer_id FROM orders WHERE amount>100)",engine)
print(df.head())

In [ ]:
cur.execute("SELECT customers.customer_name, orders.amount FROM customers INNER JOIN orders ON customers.customer_id = orders.customer_id")
rows = cur.fetchall()

# Print out the data
for row in rows:
    print(row)

In [ ]:
cur.execute("CREATE INDEX idx_sales_region ON sales_test(region)")
conn.commit()

In [ ]:
cur.execute("SELECT region, sales, SUM(sales) OVER (PARTITION BY region) AS total_sales FROM sales_test")
rows = cur.fetchall()

# Print out the data
for row in rows:
    print(row)

In [ ]:
df = pd.read_sql_query("SELECT region, sales, SUM(sales) OVER (PARTITION BY region) AS total_sales FROM sales_test",engine)
print(df.head())

In [ ]:
df = pd.read_sql_query("SELECT region, sales, RANK() OVER (ORDER BY sales DESC) AS sales_rank FROM sales_test",engine)
print(df.head())

In [ ]:
df = pd.read_sql_query("WITH regional_sales AS (SELECT region, SUM(sales) AS total_sales FROM sales_test GROUP BY region) SELECT region, total_sales FROM regional_sales WHERE total_sales > 180",engine)
print(df)

In [ ]:
cur.execute("ALTER TABLE sales_test ADD sale_date DATE")
conn.commit()

In [ ]:
# Step 1: Create the trigger function
trigger_function = """
CREATE OR REPLACE FUNCTION set_sale_date()
RETURNS TRIGGER AS $$
BEGIN
    NEW.sale_date := NOW();
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;
"""
# Execute the trigger function creation
cur.execute(trigger_function)
conn.commit()

# Step 2: Create the trigger
trigger = """
CREATE TRIGGER before_insert_sales
BEFORE INSERT ON sales_test
FOR EACH ROW
EXECUTE FUNCTION set_sale_date();
"""

# Execute the trigger creation
cur.execute(trigger)
conn.commit()

In [ ]:
procedure = """
CREATE OR REPLACE FUNCTION UpdateSales(IN region VARCHAR(50), IN new_sales INT)
RETURNS VOID AS $$
BEGIN
    UPDATE sales_test SET sales = new_sales WHERE region = region;
END;
$$ LANGUAGE plpgsql;
"""

cur.execute(procedure)
conn.commit()